@import '../../colors/colors'

.container
    margin-bottom 20px

.image
    height 100px
    float left
    padding-right 10px

.innerContainer
    overflow hidden
    max-height 277px

.tableContainer
    max-height 700px

.scrollVertically
    overflow auto
    // max-height 700px

.storyTitle
    font-weight bold

.eachStory
    border 1px solid black
    padding 10px
    margin 0px 10px 10px