@import '../../colors/colors'

.overlay
    cursor pointer
    color coureselContainer
    // height calc(100% - 36px)
    // width calc(100% - 70px)
    width 97%
    height 100%
    // top 20px
    // left: 35px;
    top 0px
    background linear-gradient(to bottom, grdiantFromColor, grdiantToColor)
    position absolute

.overlay:hover
    opacity 0.7