@import '../../colors/colors'

.container
    background-color selectColor
    // width 450px
    // margin auto !important
    // padding 20px
    color white
    overflow-x auto
    overflow-y auto

.mainContainer
    // margin-top 50px

.selections
    display inline-flex

.inputTicker
    font-size x-large !important
    width 250px !important
    margin-left 20px

.tableContainer
    // background-color tableBackground
    color tableTextColor
    min-width 550px
    max-height 425px

.scrollVertically
    max-height 700px
    // overflow-y scroll

.positionHold
    background-color holdColor

.positionHold:hover
    background-color shortColor

.positionLong
    background-color longColor

.positionShort
    background-color shortColor

.limitTable
    display none

.iconStyle
    cursor pointer
    position absolute
    left 50%
    right 50%
    bottom 70px
    font-size 32px
    color chevronColor