@import '../../colors/colors'

.mainContainer
    // padding-bottom 100px

.tickerInputContainer
    // margin-bottom 250px
    // margin-top 50px

.inputTicker
    font-size x-large !important

.uppercase
    text-transform uppercase

.mainInput
    text-align center
    margin-bottom 40px
    padding 0px !important
    margin-bottom auto
    margin-top auto

.mainButton
    margin 10px

.intervalType
    padding-top 10px
    text-align center
    // display inline-flex

.intervalTypeEach
    padding-left 5px
    display inline-block

.intervalTypeText
    padding-top 2px
    font-size large

.textCenter
    text-align center

.chartContainer
    // padding-left 40px

@media (max-width: 992px)
    .datePickerContrainer
        margin-bottom 50px

.anychartContainer
    height 600px
    // padding-right 20px
    // padding-left 20px

.boxContainer
    // background-color #cae9ff
    margin-left auto !important
    margin-right auto !important
    padding 20px
    margin-top 20px
    text-align center

// .position-table-container
//     padding 20px
//     background-color coureselContainer