@import '../../colors/colors'

.container
    background-color coureselContainer
    // width 450px
    margin: auto !important;
    padding: 20px

.mainContainer
    // margin-top 50px

.selections
    display inline-flex

.inputTicker
    font-size x-large !important
    width 250px !important
    margin-left 20px

.tableContainer
    background-color tableBackground
    color tableTextColor
