@import '../../colors/colors'

.borderBottom:not(:last-child)
    border-bottom 1px solid #d4d4d4
    
.autoCompleteTextSelected
    background-color inputSuggestionActive !important

.autoCompleteText:hover
    background-color inputSuggestionHover

.autoCompleteText
    padding 10px
    cursor pointer
    background-color #fff
    composes borderBottom

.searchSuggestionContainer
    border 1px solid #d4d4d4
    text-align left
    width 100%
    position absolute
    z-index 101
