@import '../../colors/colors'

.container
    // background-color coureselContainer
    padding 50px

.img
    position absolute
    z-index -1
    width 100%
    height 100%

.box
    padding 50px
    height 115px
    color introTextColor
    font-size x-large
    background-color introBackgroundColor
    padding 20px
    text-align center
    box-shadow 0 5px 15px 0 rgba(0, 0, 0, 0.1)
    color white