@import '../colors/colors'

.footer
    padding 20px
    color white
    background-color footer
    width max-width
    height 100px
    font-size xx-large
    text-align center

.sweetLoading
    position absolute
    left 50%
    top 35%

.textMiddle
    text-align center

.iconContainer
    margin 10px

.anychart-credits
    display none

.table-bordered thead td, .table-bordered thead th
    background-color grey

.table
    margin-bottom 0px !important