@import '../../colors/colors'

.container
    background-color introSection
    padding 50px

.eachItemInCycle
    background white
    height 300px
    text-align center
    display table-cell
    vertical-align middle
    padding 20px

.eachItemInCycleContainer
    display table !important

.explainationBoxes
    // border 1px solid black
    padding 20px

// .block-with-text {
//   /* hide text if it more than N lines  */
//   overflow: hidden;
//   /* for set '...' in absolute position */
//   position: relative; 
//   /* use this value to count block height */
// //   line-height: 1.2em;
//   /* max-height = line-height (1.2) * lines max number (3) */
// //   max-height: 3.6em; 
//   /* fix problem when last visible word doesn't adjoin right side  */
//   text-align: justify;  
//   /* place for '...' */
//   margin-right: -1em;
//   padding-right: 1em;
// }
// /* create the ... */
// .block-with-text:before {
//   /* points in the end */
//   content: '...';
//   /* absolute position */
//   position: absolute;
//   /* set position to right bottom corner of block */
//   right: 0;
//   bottom: 0;
// }
// /* hide ... if we have text, which is less than or equal to max lines */
// .block-with-text:after {
//   /* points in the end */
//   content: '';
//   /* absolute position */
// //   position: absolute;
//   /* set position to right bottom corner of text */
//   right: 0;
//   /* set width and height */
//   width: 1em;
//   height: 1em;
//   margin-top: 0.2em;
//   /* bg color = bg color under block */
// //   background: white;
// }


// $font-size = 26px;
// $line-height =  1.4;
// $lines-to-show =  3;

// .three-lines {
//   display: block; /* Fallback for non-webkit */
//   display: -webkit-box;
//   max-width: 400px;
//   height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
//   margin: 0 auto;
//   font-size: $font-size;
//   line-height: $line-height;
//   -webkit-line-clamp: $lines-to-show;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

.explainationBoxesInside
    // border 1px solid white
    height 115px
    color introTextColor
    font-size medium
    background-color introBackgroundColor
    padding 20px
    text-align center
    box-shadow 5px 8px 15px 4px rgba(0,0,0,0.1)