@import '../../colors/colors'

.container
    background-color mainColor
    padding 50px 50px 80px 50px

.eachItemInCycle
    background-color darkBlue
    height 300px
    text-align center
    display table-cell
    vertical-align middle
    // padding 20px
    box-shadow 5px 8px 15px 4px rgba(0, 0, 0, 0.1)

.eachItemInCycleContainer
    display table !important
    padding 20px

.textColor
    color white