@import '../../colors/colors'

.status
    margin 10px

.mainContainer
    padding 10px
    border 1px solid coal
    max-width 450px
    background-color aquaWithMoreTransparency
    text-align center
    margin-left auto
    margin-right auto

.eachInputSection
    margin-bottom 15px

.inputHeaderText
    color bloodOrange
    font-weight bold

.buttonContainer
    width auto
    margin-top 20px

.buttonStyle
    background-color bloodOrange
    color white

.title
    margin-bottom 40px